################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mem-edit/v17/.suo
/.vs/mem-edit/v17/Preview
/.vs
